/**
 * Styles for the shortcode content.
 */
#fo-shortcode .fo-shortcode-counter {
  font: 700 1.2em monospace;
  text-decoration: underline;
}

.home pre {
  overflow-x: scroll;
}

.nytimes-top-stories {
  display: grid;
  gap: 1em;
  margin-block: 2.5em;

  @media(min-width: 768px) {
    grid-template-areas: "spotlight story1"
      "spotlight story2"
      "spotlight story3";
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nytimes-top-story {
  padding-right: 0.5em;
  position: relative;

  .nytimes-top-story__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 64%;
    top: 0;
    z-index: -1;
  }

  .nytimes-top-story__byline,
  span {
    background-color:rgba(255, 255, 255, 0.95);
    color: #444;
  }

  h3 {
    margin-block: 1em 0.5em;
  }

  p {
    font-size: 0.9em;
    color: #000;
    font-family: 'Cardo', serif;
  }

  span {
    font-size: 9px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0.5em 1em 0.5em 1em;
  }


  .nytimes-top-story__section {
    background-color: #222;
    color: #fff;
    font-size: 9px;
  }

  .nytimes-top-story__text {
    padding-left: 40%;
  }

  &:first-child {
    @media(min-width: 768px) {
      grid-area: spotlight;

      h3 {
        font-size: 22px;
      }
    }
  }

  @each $index in 2 3 4 {
    &:nth-child(#{$index}) {

      @media(min-width: 768px) {
        grid-area: story#{$index - 1};

        .nytimes-top-story__text {
          margin-block: 0.25em;
        }

        h3 {
          margin: 0;
          font-size: 1.1em;
        }

        p {
            display: none;
        }
      }
    }
  }
}